@import "tailwindcss";

@theme {
  --color-bg: #0D0F1A;
  --color-surface: #161929;
  --color-surface-hover: #1E2235;
  --color-border: #1E2A4A;
  --color-primary: #4C6EF5;
  --color-accent: #39FF9C;
  --color-text: #E8EAF6;
  --color-muted: #8B90B0;
  --color-danger: #F87171;

  --color-tag-blue: #4C6EF520;
  --color-tag-blue-text: #818CF8;
  --color-tag-green: #39FF9C15;
  --color-tag-green-text: #39FF9C;
  --color-tag-red: #F8717120;
  --color-tag-red-text: #F87171;

  --font-sans: "Inter", sans-serif;
  --font-display: "Space Grotesk", sans-serif;
}

* {
box-sizing: border-box;
}

body {
  @apply bg-bg text-text font-sans;
}