@import "tailwindcss";

@theme {
  /* Definindo as fontes */
  --font-sans: "Inter", sans-serif;
  --font-display: "Space Grotesk", sans-serif;

  /* Definindo os Tokens de Cor do Astra */
  /* Coloquei um tema escuro moderno, mas vocês podem alterar os códigos HEX depois */
  --color-astra-bg: #09090b;
  --color-astra-surface: #18181b;
  --color-astra-surface-hover: #27272a;
  --color-astra-primary: #3b82f6;
  --color-astra-accent: #8b5cf6;
  --color-astra-text: #fafafa;
  --color-astra-muted: #a1a1aa;
  --color-astra-danger: #ef4444;
}

/* Aplicando as cores de fundo e texto globais */
body {
  background-color: var(--color-astra-bg);
  color: var(--color-astra-text);
}